.container-fluid{
	height: 50px;
	margin-top: 25px;
}
.navbar-header {
	height: 150px;
}
.container-fluid .navbar-brand {
	height: 150px;
}
.navbar-collapse{
	height: 150px;
}
.label {
	height: 150px;
}

.hhhhhh{
	margin-left: 600px;
	margin-top: 100px;
	background-color:;
	border-color: #00a8ff;
	}
  
  

  

  .footer {
  
  	margin-top: 100px;

  }
  .nav-pills{
  	margin-left: 1200px;

  }
  .fsf {
  	margin-right: 600px;
  }