.search .navarbar-form .navbar {
	margin-left: 500px;
}

.container-fluid{
	margin-left: 25px;
	margin-top: 25px;
}
.container .row {
	margin-left: 250px;
}
.pager {
	margin-top: 100px;
}
.footer {
  
  	margin-top: 100px;

  }
  .nav-pills{
  	margin-left: 1200px;

  }
  .fsf {
  	margin-right: 600px;
  }