
.container-fluid{
	margin-left: 25px;
	margin-top: 25px;
}
}
.container .row {
	margin-left: 550px;
}

.categorie{
	margin-right: 2000px;
	margin-bottom: 500px;
}
.footer {
  
  	margin-top: 100px;

  }
  .nav-pills{
  	margin-left: 1200px;

  }
  .fsf {
  	margin-right: 600px;
  }